<div *ngIf="isLoggedIn">
  <h2>Spotify App</h2>
  <div class="row mb-2">
    <div class="col-4">
      <input
        type="text"
        placeholder="search mood,artist album...."
        class="form-control"
        [(ngModel)]="songText"
      />
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="PlaySong()">Search Song</button>
    </div>
  </div>
  <div
    class="row"
    style="background-color: #ddd; padding: 20px; width: 42%"
    *ngIf="currentTrack?.preview_url"
  >
    <div class="col-12">{{ currentIndex + 1 }} of {{ tracks.length }}</div>
    <div class="col-12">
      <audio
        [src]="currentTrack?.preview_url"
        autoplay
        controls
        style="width: 500px"
      ></audio>
    </div>
    <div class="col-12 text-success">
      <label>{{ currentTrack?.name }}</label>
    </div>
  </div>
</div>
